<h1>Bonjour</h1>

<p>Nous avons le déplaisir de vous annoncer l'annulation d'une sortie à laquelle vous étiez inscrit(e).</p>

<p>N'hésitez pas à repasser visiter <a href="{{ path('app_home') }}">notre site</a> pour vous inscrire à d'autres sorties.</p>

<p>Bonne journée</p>