<h3>Bonjour</h3>

<p>Nous vous confirmons la création de l'activité <B>{{ sortie.nom }}</B>.</p>

{% if not sortie.isPublished %}
    <p>Pensez à publier votre activité pour que les participants puissent s'inscrire.</p>
{% endif %}

<p>Bonne journée</p>

<p><i>L'équipe Sortir.com</i></p>