
body {
    background-image: url("../img/fond.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}


.hover-zoom:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}


.nav{
    background: transparent;
    border-color: transparent;

}
.navbar .nav-link{
    color: #49c5b6;
    font-size: 1.2em;
    text-align: center;
}

.sortir{
    color: #49c5b6;
    font-size: 2em;
}

.navbar .nav-link:hover{
    color: white;
}

.navbar-light .navbar-toggler-icon {
    color: #49c5b6;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(73, 197, 182)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*profil*/
.transparent{
    color: transparent;
}
.fondProfil{
    background-color: rgba(136, 136, 136, 0.22);
    border-radius: 20px;
    border: solid 3px #49c5b6;
    padding: 1em;
}
.fondProfil2{
    background-color: rgba(136, 136, 136, 0.22);
    border-radius: 20px;
    border: solid 2px #49c5b6;
    color: white;
}
.fondProfil2::selection{
    border-radius: 10px;
}
.fondProfil2:focus option{
    color: black;
}

.fc1{
    color: whitesmoke;
    font-size: 0.9em;
}

.fc2{
    color: #49c5b6;
    font-size: 1.2em;
}
.pseudo{
    color: #49c5b6;
    font-size: 2.2em;
    font-weight: bold;
}

.custom-btn {
    font-size: 1.1em;
    background-color: transparent;
    border: 2px solid #49c5b6;
    border-radius: 10px;
    color: #49c5b6;
    text-decoration: none;
    padding: 0.3em 0.4em;
    margin: 0.5em;
    width: 15vh;
    text-align: center;
}

.custom-btn:hover {
    background-color: #49c5b6;
    color: white;
    /*border-color: #yourHoverBorderColor;*/
}

.custom-btn-mod {
    font-size: 1.1em;
    background-color: transparent;
    border: 2px solid orange;
    border-radius: 10px;
    color: orange;
    text-decoration: none;
    padding: 0.3em 0.4em;
    margin: 0.5em;
    width: 15vh;
    text-align: center;
}

.custom-btn-mod:hover {
    background-color: orange;
    border-color: black;
    color: black;
    /*border-color: #yourHoverBorderColor;*/
}
.custom-btn-an {
    font-size: 1.1em;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 10px;
    color: red;
    text-decoration: none;
    padding: 0.3em 0.4em;
    margin: 0.5em;
    width: 15vh;
    text-align: center;
}

.custom-btn-an:hover {
    background-color: red;
    border-color: black;
    color: black;
}

/*login*/
.custom-btn-login {
    font-size: 1.1em;
    background-color: transparent;
    border: 2px solid #49c5b6;
    border-radius: 10px;
    color: #49c5b6;
    text-decoration: none;
    padding: 0.3em 0.4em;
    margin-bottom: 1em;
    width: 15vh;
    text-align: center;
}

.custom-btn-login:hover {
    background-color: #49c5b6;
    color: white;

}
.flexButton{
    display: flex;
    justify-content: space-between;
}
.categorie{
    color: #49c5b6;
    font-size: 2.2em;
    font-weight: bold;
}

.password-reset-link {
    color: #ff4500;
    font-size: 0.8em;
    text-decoration: -webkit-focus-ring-color;
    transition: border-bottom 0.8s ease;
    cursor: help;
}


.password-reset-link:hover {
    color: #d32f2f;
    border-bottom-color: #d32f2f;
}
/*register*/

.custom-btn-login-register {
    font-size: 1.1em;
    background-color: transparent;
    border: 2px solid #49c5b6;
    border-radius: 10px;
    color: #49c5b6;
    text-decoration: none;
    padding: 0.3em 0.4em;
    margin: 0.5em;
    width: 15vh;
    text-align: center;
}

.custom-btn-login-register:hover {
    background-color: #49c5b6;
    color: white;
}

.custom-btn-an-register {
    font-size: 1.1em;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 10px;
    color: red;
    text-decoration: none;
    padding: 0.3em 0.4em;
    margin: 0.5em;
    width: 15vh;
    text-align: center;
}

.custom-btn-an-register:hover {
    background-color: red;
    border-color: black;
    color: black;
}

.fondProfil2::placeholder{
    color: white;
}
.imgProfil{
    height: 10rem;
    width: 10rem;
}

/*all*/
.password-reset-filter {
    color: #ff4500;
    font-size: 0.9em;
    text-decoration: -webkit-focus-ring-color;
    transition: border-bottom 0.8s ease;
    cursor: help;
    text-align: right;
}


.password-reset-filter:hover {
    color: #d32f2f;
    border-bottom-color: #d32f2f;
}
.div_reset_filter{
    display: inline-block;
    width: 100%;
}


/* Style de base pour la table */
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
    color: white;
    margin: 0;
}


/* Style des cellules de la table */
.table td, .table th {
    padding: 8px;
    border: 1px solid #ddd;
    background-color: transparent;
    color: white;
}


.table tr:nth-child(odd) {
    background-color: rgba(73, 197, 182, 0); /* impaires */
    color: white;
}


.table tr:nth-child(even) {
    background-color: rgba(73, 197, 182, 0.11); /* paires */
    color: white;
}

/* Style de l'en-tête de la table */
.table th {
    background-color: rgba(73, 197, 182, 0.66);
    color: white;
}

.table tbody th{

}
.table tbody td{

    overflow-wrap: anywhere;
}

/* Responsive */
@media screen and (max-width: 800px) {
    .table {
        overflow-x: auto;
        display: block;
    }

    .table td, .table th {
        white-space: nowrap;
    }
}

.decoration_none{
    text-decoration: none;
    color: #49c5b6 ;
    font-weight: bold;
    font-size: 1.1em;
}

.custom-btn-val-all {
    font-size: 0.8em;
    background-color: transparent;
    border: 2px solid #49c5b6;
    border-radius: 10px;
    color: #49c5b6;
    text-decoration: none;
    padding: 0.3em 0.4em;
    margin: 0.5em;
    width: 15vh;
    text-align: center;
}

.custom-btn-val-all:hover {
    background-color: #49c5b6;
    color: white;
}
.custom-btn-mod-all {
    font-size: 0.8em;
    background-color: transparent;
    border: 2px solid orange;
    border-radius: 10px;
    color: orange;
    text-decoration: none;
    padding: 0.3em 0.4em;
    margin: 0.5em;
    width: 15vh;
    text-align: center;
}

.custom-btn-mod-all:hover {
    background-color: orange;
    border-color: black;
    color: black;
    /*border-color: #yourHoverBorderColor;*/
}
.custom-btn-an-all {
    font-size: 0.8em;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 10px;
    color: red;
    text-decoration: none;
    padding: 0.3em 0.4em;
    margin: 0.5em;
    width: 15vh;
    text-align: center;
}

.custom-btn-an-all:hover {
    background-color: red;
    border-color: black;
    color: black;
    /*border-color: #yourHoverBorderColor;*/
}

/*Detail sortie*/
.annuler {
    border: 10px outset red;
    background-color: rgba(255, 255, 255, 0.16);
    color: white;
    margin-bottom: 2em;
    text-align: center;
    padding: 2em;
}
.titre{
    color: #49c5b6;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 1em;
}
.buttonAfficherVilleFlex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2em ;
}
.custom-btn-an-delete {
    font-size: 1.1em;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 10px;
    color: red;
    text-decoration: none;
    padding: 0.3em 0.4em;
    margin: 0.5em;
    width: 15vh;
    text-align: center;
}
.custom-btn-an-delete:hover {
    background-color: red;
    border-color: black;
    color: black;
}
.ajouterNouveauLieu {
    color: #ff4500;
    font-size: 1em;
    text-decoration: none;
    transition: border-bottom 0.8s ease;
}

.ajouterNouveauLieu:hover {
    color: #d32f2f;
    border-bottom-color: #d32f2f;
}
.isPublished{
    color: white;
    font-size: 1.1em;
}

/*villes*/






/*Home*/
.inputVilles{
    background-color: rgba(136, 136, 136, 0.22);
    color: white;
    width: 100%;
}
@keyframes rotateRight {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(25deg); }
    100% { transform: rotate(0deg); }
}


@keyframes rotateLeft {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-25deg); }
    100% { transform: rotate(0deg); }
}

#tchin_tchin {
    animation: rotateRightLeft 4s infinite;
}

@keyframes rotateRightLeft {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(25deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-25deg); }
    100% { transform: rotate(0deg); }
}
.photo{
    width: 300px;
}



















